body {
    font-family: 'Permanent Marker', cursive;
    background-image: url("/img/BackgroundLogin.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-color: black;
    color: #AA9E97;
    font-weight: 100;
}

#inputUserName,
#inputPassword {
    font-family: 'Permanent Marker', cursive;
    color: #AA9E97;
    margin: 10px;
    text-align: center;
    font-size: 25px;
    border: none;
    height:40px;
}
#rememberMe{
    margin: 10px;
    height: 18 !important;
}

button{
    margin: 10px;
    background-color:#C99A48;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    font-family: 'Permanent Marker', cursive;
    width: 95%;
    height: 40px;
    align-content: center;
    font-weight: 600;
}

p{
    margin: 10px;
    text-align-last: center;
    font-size: 25px;
    font-weight: bold
}
a{
    text-decoration: none;
}

ul{
    list-style-type: none;
    margin-left: -5%;
    padding: 0;
    overflow: hidden;
    float: right;
}

li{
    display: inline;
    font-size: 15px;
    float: right;
}
#wrapper {
    background-color: #77D5EA;
    text-align: center;
    height: 350px;
    position: absolute;
    padding: 2%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

#header{
    text-align-last: center;
    font-size: 30px;  
    margin-bottom: 20%;
    font-weight: 50;
}
.containerRem{
    font-weight: bold;
}
